.grid_container {
    display: flex;
}

.list {
    display: block;
}

#cover {
    padding: 1rem 3rem;
}

#title {
    padding-left: 3rem; 
    padding-top: 3rem;
}

.image {
    cursor: pointer;
}

body{
    background-color: #f8f9fa;
}

.select {
    color: rgb(0, 149, 255);
}